
	

{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

section {
	height: 100vh;
	display: flex;
	justify-conent: centre;
	align-items: centre;
}

.one {
	background: rbg((179, 0, 0))
}
.two {
	background: rbg(0, 0, 0)
}
.three {
	background: rbg((179, 0, 0))
}
.four {
	background: rbg(0, 0, 0)
}
.five {
	background: rbg((179, 0, 0))
}

h1 {
	text-align:center;
	color:rgb(0,0,0); 
	font-size:30px;
	font-style: bold;
  	font-family: courier;
	font-weight:normal;
	margin:1px;
	overflow:visible;
	padding:1px;
	line-height: 2;
	
}



h2 {
	text-align:center;
	color:rgb(0,0,0); 
	font-size:30px;
	font-style: bold;
  	font-family: courier;
	font-weight:normal;
	margin:1px;
	overflow:visible;
	padding:1px;
	line-height: 2;
}
	
p {
	text-align:center;
	color:rgb(0,0,0); 
	font-size:30px;
	font-style: bold;
  	font-family: courier;
	font-weight:normal;
	margin:1px;
	overflow:visible;
	padding:1px;
	line-height: 2;
}



