
body {
	background:rgb(255,255,255);
	background-image: url("https://images.app.goo.gl/z8z5hmoZ1JUCnpbq5");

}

h1 {
	text-align:center;
	color:rgb(0,0,0); 
	font-size:30px;
	font-style: bold;
  	font-family: courier;
	font-weight:normal;
	margin:1px;
	overflow:visible;
	padding:1px;
	line-height: 2;
	
}

h2 {
	text-align:center;
	color:rgb(0,0,0); 
	font-size:30px;
	font-style: bold;
  	font-family: courier;
	font-weight:normal;
	margin:1px;
	overflow:visible;
	padding:1px;
	line-height: 2;
}
	
p {
	text-align:center;
	color:rgb(0,0,0); 
	font-size:30px;
	font-style: bold;
  	font-family: courier;
	font-weight:normal;
	margin:1px;
	overflow:visible;
	padding:1px;
	line-height: 2;
}

